<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.piacere.org/dsl/doml/DOML"
			class = "org.piacere.dsl.doml.dOML.DOMLPackage"
			genModel = "model/generated/DOML.genmodel" />
	</extension>
</plugin>
